
.borders {
    fill: none;
    stroke: lightgrey;
    stroke-linejoin: round;
    stroke-width: 1px;
}

.states {
    fill: lightblue;
}

text {
    stroke: black;
}

.point {
    stroke: lightgrey;
    stroke-width: 1px;
    fill: #FFBE73;
    fill-opacity: .8;
}

.centroid {
    stroke: lightgrey;
    stroke-width: 1px;
    fill: #D13636;
    fill-opacity: .8;
}

.base {
    fill: white;
    stroke: #5667CC;
    stroke-width: 1px;
    opacity: .9;
}

.q0-9-blue { fill:rgb(247,251,255); }
.q1-9-blue { fill:rgb(222,235,247); }
.q2-9-blue { fill:rgb(198,219,239); }
.q3-9-blue { fill:rgb(158,202,225); }
.q4-9-blue { fill:rgb(107,174,214); }
.q5-9-blue { fill:rgb(66,146,198); }
.q6-9-blue { fill:rgb(33,113,181); }
.q7-9-blue { fill:rgb(8,81,156); }
.q8-9-blue { fill:rgb(8,48,107); }

.q0-9-red { fill:rgb(255,247,236); }
.q1-9-red { fill:rgb(254,232,200); }
.q2-9-red { fill:rgb(253,212,158); }
.q3-9-red { fill:rgb(253,187,132); }
.q4-9-red { fill:rgb(252,141,89); }
.q5-9-red { fill:rgb(239,101,72); }
.q6-9-red { fill:rgb(215,48,31); }
.q7-9-red { fill:rgb(179,0,0); }
.q8-9-red { fill:rgb(127,0,0); }

.q0-9-purple { fill:rgb(252,251,253); }
.q1-9-purple { fill:rgb(239,237,245); }
.q2-9-purple { fill:rgb(218,218,235); }
.q3-9-purple { fill:rgb(188,189,220); }
.q4-9-purple { fill:rgb(158,154,200); }
.q5-9-purple { fill:rgb(128,125,186); }
.q6-9-purple { fill:rgb(106,81,163); }
.q7-9-purple { fill:rgb(84,39,143); }
.q8-9-purple { fill:rgb(63,0,125); }

.q0-9-green { fill:rgb(247,252,245); }
.q1-9-green { fill:rgb(229,245,224); }
.q2-9-green { fill:rgb(199,233,192); }
.q3-9-green { fill:rgb(161,217,155); }
.q4-9-green { fill:rgb(116,196,118); }
.q5-9-green { fill:rgb(65,171,93); }
.q6-9-green { fill:rgb(35,139,69); }
.q7-9-green { fill:rgb(0,109,44); }
.q8-9-green { fill:rgb(0,68,27); }
